<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer">
        <activity
            android:name=".music.RadioActivity"
            android:theme="@style/Theme.MusicPlayer.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MusicPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".music.SongActivity"
            android:theme="@style/Theme.MusicPlayer.NoActionBar"/>

        <activity
            android:name=".music.PlaylistActivity"
            android:theme="@style/Theme.MusicPlayer.NoActionBar"/>

        <activity
            android:name=".music.CreatingPlaylistActivity"
            android:theme="@style/Theme.MusicPlayer.NoActionBar"/>

        <activity
            android:name=".music.PlaylistViewActivity"
            android:theme="@style/Theme.MusicPlayer.NoActionBar"/>

        <receiver android:name=".Services.NotificationActionService" />
        <service android:name=".Services.OnClearFromRecentService" />
        <service android:name=".Services.BackgroundMusicService" />
    </application>

</manifest>